homologous_lookup:
  max_proteins: 100
structure_cluster_threshold: 0.6
sequence_cluster_threshold: 0.7
foldseek_eval_threshold: 0.001
foldseek_num_iterations: 3
foldseek_max_seqs: 100
treesapp_create:
  extra_args: ""
  ref_pkg_name_length: 6
  show_treesapp_output: False
