activity_lookup:
  max_proteins: 100
structure_cluster_threshold: 0.6
foldseek_max_seqs: 100
foldseek_swissprot_only: False
sequence_clustering:
  min_seq_id: 0.9
  min_seq_cov: 0.8
  cov_mode: 5
  cluster_mode: 1
  k_length: 15
  kmer_per_seq: 21
  spaced_kmer_mode: 0
  threads: 1
  shuffle: 0
  hash_shift: 0
  remove_tmp_files: 0
  force_reuse_tmp: 0
  alignment_mode: 3
  similarity_type: 2
  realign: 1
  remove_output_files: 1
treesapp_create:
  extra_args: ""
  ref_pkg_name_length: 6
  show_treesapp_output: False
